<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>795197442536-pnaph48qgr83aotihnmi3ui0m0ppu6j3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.795197442536-pnaph48qgr83aotihnmi3ui0m0ppu6j3</string>
	<key>API_KEY</key>
	<string>AIzaSyDd6LrRbk-IZ0wKXGasXQRKag0_T0SKuGA</string>
	<key>GCM_SENDER_ID</key>
	<string>795197442536</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tigranakert.MealTime</string>
	<key>PROJECT_ID</key>
	<string>mealtime-c95b1</string>
	<key>STORAGE_BUCKET</key>
	<string>mealtime-c95b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:795197442536:ios:845fa66759766fc3</string>
	<key>DATABASE_URL</key>
	<string>https://mealtime-c95b1.firebaseio.com</string>
</dict>
</plist>